/* Show scrollbar when scrolling for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
    width: 8px;  /* Adjust the width of the scrollbar here */
}
.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);  /* You can change the color and opacity */
    border-radius: 10px;
}
.hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.6);  /* Darker color on hover */
}

/* Show scrollbar when scrolling for Internet Explorer, Edge, and Firefox */
.hide-scrollbar {
    -ms-overflow-style: auto;  /* Normal scrollbar for IE and Edge */
    scrollbar-width: thin;  /* 'auto' or 'thin' for Firefox */
    scrollbar-color: rgba(0,0,0,0.5) transparent;  /* scrollbar thumb and track colors */
}
